@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.text-content {
    flex-grow: 1;
    margin-top: 20px;
    text-align: center; 
    padding: 20px;
}

.text-content h2 {
    color: #2a2a2ad0;
    font-size: 40px;
    margin-bottom: 15px;
}

.text-content p {
    line-height: 2;
    text-align: justify; 
    font-size: 24px;
}

.text-content p:last-child {
    margin-bottom: 0;
}

.text-cont {
    flex-grow: 1;
    margin-top: 20px;
    text-align: center; 
    padding: 20px;
}

.text-cont h2 {
    color: #2a2a2ad0;
    font-size: 40px;
    margin-bottom: 15px;
}

.text-cont p {
    line-height: 2;
    text-align: justify; 
    font-size: 24px;
}

.text-cont p:last-child {
    margin-bottom: 0;
}

video{
    width: 100%;
    height: 100%;
}

.text-con {
    flex-grow: 1;
    margin-top: 20px;
    text-align: center; 
    padding: 20px;
}

.text-con h2 {
    color: #2a2a2ad0;
    font-size: 40px;
    margin-bottom: 15px;
}

.text-con p {
    line-height: 2;
    text-align: justify; 
    font-size: 24px;
}

.text-con p:last-child {
    margin-bottom: 0;
}

.text-conte {
    flex-grow: 1;
    margin-top: 20px;
    text-align: center; 
    padding: 20px;
}

.text-conte h2 {
    color: #2a2a2ad0;
    font-size: 40px;
    margin-bottom: 15px;
}

.text-conte p {
    line-height: 2;
    text-align: justify; 
    font-size: 24px;
}

.text-conte p:last-child {
    margin-bottom: 0;
}

.range-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px; 
    margin: 0 auto;
    text-align: justify; 
}

.range-container p {
    flex-grow: 1;
    padding-right: 20px; 
    font-size: 18px;
    max-width: 60%; 
}

.range-container img {
    max-width: 40%; 
    height: auto;
    border-radius: 8px; 
}

.image-container {
    display: flex;
    justify-content: space-between;
  }

.image-container img {
    width: 33%;
    height: auto;
  }

.text-conten {
    flex-grow: 1;
    margin-top: 20px;
    text-align: center; 
    padding: 20px;
}

.text-conten h2 {
    color: #2a2a2ad0;
    font-size: 40px;
    margin-bottom: 15px;
}

.text-conten p {
    line-height: 2;
    text-align: justify; 
    font-size: 24px;
}

.text-conten p:last-child {
    margin-bottom: 0;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
  }
  
  hr:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
  }
  
  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}
  
.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logo{
    text-align: left;
    margin-top: 60px;
}

.footer-logo img {
    display: block;
    max-width: 50%;
    height: auto;
}

.footer-links{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-right: 600px;
}
  
.footer-links li {
    display: inline-block;
    margin-right: 40px;
}
  
.footer-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
  
.footer-social img {
    max-width: 30px;
    height: auto;
    margin-right: 10px;
}
